<div class="media animated fadeIn">
  <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
      <label class="btn btn-light" (click)="onClickMe(1)">
          <input type="radio" name="options" id="option1"> Proyecto
      </label>
      <label class="btn btn-light" (click)="onClickMe(2)">
          <input type="radio" name="options" id="option2"> Usuarios
      </label>
  </div>
</div>

<div class="media animated cuerpo fadeIn" *ngIf="project != undefined && proyectoView">
  <div class="col-8">
    <div class="col-12">
      <h1>{{project.name}}</h1>
      <h5>Producto: {{project.product?.name}}</h5>
    </div>
    <div class="col-12">
      <p>
        {{project.description}}
      </p>
    </div>
  </div>
  <div class="col-4">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Creador: {{project.creator.nickname}}</h5>
        <p class="card-text"><app-profile-picture [imagePatch]="project.creator.profilePicture"></app-profile-picture> {{project.creator.name}} {{project.creator.firstLastName}} {{project.creator.secondLastName}}</p>
      </div>
    </div>
  </div>
</div>
<div class="media animated fadeIn cuerpo" *ngIf="project && tasks != undefined && tasks.length != 0 && proyectoView">
  
  <div class="list-group col-3">
    <h5>Para desarrollar ({{paraDesarrollar}}/{{tasks.length}})</h5>
    <div *ngFor="let k of tasks | keys; let i = index" class="col-11">
      <a  class="list-group-item flex-column align-items-start list-group-item-action"
        *ngIf="tasks[k].state == 0"
        style="cursor: pointer;"
        (click)="verTarea(tasks[k].id)">
        <div class="d-flex w-100 justify-content-start align-items-center" >
          <h6 class="mb-1" style="margin-right: 2%;">{{tasks[k].name}}</h6>

            <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
                
            <h6 class="mb-1" style="margin-right: 2%;">{{PriorityLabelMapping[tasks[k].priority]}}</h6>
            </div>

        </div>
      </a>
    </div>
  </div>

  <div class="list-group col-3">
    <h5>En desarrollo ({{enDesarrollo}}/{{tasks.length}})</h5>
    <div *ngFor="let k of tasks | keys; let i = index" class="col-11">
      <a  class="list-group-item flex-column align-items-start list-group-item-action"
        *ngIf="tasks[k].state == 1"
        style="cursor: pointer;"
        (click)="verTarea(tasks[k].id)">
        <div class="d-flex w-100 justify-content-start align-items-center" >
            <h6 class="mb-1" style="margin-right: 2%;">{{tasks[k].name}}</h6>

            <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
                
                
            <h6 class="mb-1" style="margin-right: 2%;">{{PriorityLabelMapping[tasks[k].priority]}}</h6>
            </div>

        </div>
      </a>
    </div>
  </div>
  <div class="list-group col-3">
    <h5>Listas para verificar ({{listasParaVerificar}}/{{tasks.length}})</h5>
    <div *ngFor="let k of tasks | keys; let i = index" class="col-11">
      <a  class="list-group-item flex-column align-items-start list-group-item-action"
        *ngIf="tasks[k].state == 2"
        style="cursor: pointer;"
        (click)="verTarea(tasks[k].id)">
        <div class="d-flex w-100 justify-content-start align-items-center" >
            <h6 class="mb-1" style="margin-right: 2%;">{{tasks[k].name}}</h6>

            <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
                
                
            <h6 class="mb-1" style="margin-right: 2%;">{{PriorityLabelMapping[tasks[k].priority]}}</h6>
            </div>

        </div>
      </a>
    </div>
  </div>
  <div class="list-group col-3">
    <h5>Completadas ({{completadas}}/{{tasks.length}})</h5>
    <div *ngFor="let k of tasks | keys; let i = index" class="col-11">
      <a  class="list-group-item flex-column align-items-start list-group-item-action"
        *ngIf="tasks[k].state == 3"
        style="cursor: pointer;"
        (click)="verTarea(tasks[k].id)">
        <div class="d-flex w-100 justify-content-start align-items-center" >
            <h6 class="mb-1" style="margin-right: 2%;">{{tasks[k].name}}</h6>

            <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
                
                
            <h6 class="mb-1" style="margin-right: 2%;">{{PriorityLabelMapping[tasks[k].priority]}}</h6>
            </div>

        </div>
      </a>
    </div>
  </div>
</div>
<div class="col-12 form-group cuerpo" *ngIf="usuariosView">
  <div class="list-group" *ngIf="this.project.usersRelated != undefined">
    <a *ngFor="let k of project.usersRelated | keys; let i = index" class="list-group-item flex-column align-items-start list-group-item-action" 
    style="cursor: pointer;">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <app-profile-picture [imagePatch]="project.usersRelated[k].profilePicture"></app-profile-picture>
        <h5 class="mb-1" style="margin-right: 2%;">{{project.usersRelated[k].nickname}}</h5>
        <p class="mb-1"> {{project.usersRelated[k].name}} {{project.usersRelated[k].firstLastName}} {{project.usersRelated[k].secondLastName}} ({{project.usersRelated[k].email}})</p>
      </div>
    </a>
  </div>
</div>
