<div class="col-12 row cuerpo" *ngIf="found">
  <div class="col-4">
    <img src="{{noticia.cardImage}}" style='object-fit: contain' height="145" class="card-img-top rounded-lg">
  </div>
  
  <div class="col-8">
    <div >
      <h3 class="card-title">{{noticia.title}}</h3>
      <p class="card-text">{{noticia.description}}</p>
    </div>
  </div>
</div>


<div *ngIf="!employeeMode && found && (noticia.productsRelated != undefined && noticia.productsRelated != null && noticia.productsRelated.length > 0)">
  <div class="card container-cc animated fadeIn shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h1>Productos relacionados</h1>
      <div class="card-deck">
        <div class="card" *ngFor="let k of noticia.productsRelated | keys; let i = index">
          <img src="{{ noticia.productsRelated[k].profileImage?.url}}" style='object-fit: contain' height="145" class="card-img-top rounded-lg" >
          <div class="card-body">
            <h4 class="card-title">{{ noticia.productsRelated[k].name }}</h4>
            <p>{{ noticia.productsRelated[k].description }}</p>
            <button (click)="verProducto(noticia.productsRelated[k].id)"
                      type="button" class="btn btn-outline-info">
                Ir al Producto
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
