<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container d-flex justify-content-between">
      <a class="navbar-brand" [routerLink]= "[this.routeHome]">LOGO</a>
      <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarText" 
              aria-controls="navbarText" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li *ngIf ="trabajo" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['admin']">Trabajo</a>
        </li>
        <li *ngIf ="productos" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['productos']">Productos</a>
        </li>
        <!-- <li *ngIf ="chat" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['chat']">Chat</a>
        </li> -->
        <li *ngIf ="usuarios" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['usuarios']">Usuarios</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto animated fadeIn">
            <li *ngIf ="numProductos > 0" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['cesta']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                  <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
                <span class="badge badge-danger badge-pill">{{numProductos}}</span>
                Cesta
              </a>
            </li>
            <li *ngIf ="perfil" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['perfil', id]">Perfil</a>
            </li>
            <li *ngIf ="logout" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['']" (click)="logOut()">Sign Out</a>
            </li>
            <li *ngIf ="login" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['login']">Sign In</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
</nav>

  
  