<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container d-flex justify-content-between">
      <a class="navbar-brand" [routerLink]= "[this.routeHome]">LOGO</a>
      <button class="navbar-toggler" 
              type="button" 
              data-toggle="collapse" 
              data-target="#navbarText" 
              aria-controls="navbarText" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li *ngIf ="trabajo" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['admin']">Trabajo</a>
        </li>
        <li *ngIf ="productos" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['productos']">Productos</a>
        </li>
        <li *ngIf ="chat" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['chat']">Chat</a>
        </li>
        <li *ngIf ="usuarios" class="nav-item animated fadeIn" routerLinkActive = "active">
          <a class="nav-link" [routerLink]= "['usuarios']">Usuarios</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto animated fadeIn">
            <li *ngIf ="perfil" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['perfil', id]">Perfil</a>
            </li>
            <li *ngIf ="logout" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['']" (click)="logOut()">Sign Out</a>
            </li>
            <li *ngIf ="login" class="nav-item animated fadeIn" routerLinkActive = "active">
              <a class="nav-link" [routerLink]= "['login']">Sign In</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
  
</nav>

  
  