<div class="media animated fadeIn">
  <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
      <label class="btn btn-light" (click)="onClickMe(1)">
          <input type="radio" name="options" id="option1">Tarea
      </label>
      <label class="btn btn-light" (click)="onClickMe(2)">
        <input type="radio" name="options" id="option2"> Usuarios
    </label>
  </div>
</div>

<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm" *ngIf="tareaView">
  <div class="main-container">
    <h4>{{header}} </h4>
      <div class="row animated fadeIn">
          <div class="col-6 ">
            <div class="form-group">
              <label>Nombre</label>
              <input  formControlName="name"
                name="nombre"
                type="text"
                class="form-control"
                placeholder="Nombre de la tarea"
                required>
            </div>
          </div>
          <div class="col-2">
            <div class="form-group">
              <label>Prioridad</label>
              <select class="custom-select" formControlName="prioridad" required>
                <option *ngFor="let priority of priorities"
                        [value]="priority">
                        {{PriorityLabelMapping[priority]}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <label>Fecha de finalización</label>
            <div class="input-group mb-3 ">
              <input 
                name="endDate"
                formControlName="endDate"
                type="text"
                class="form-control"
                placeholder="Fecha"
                required
                readonly
                matInput [matDatepicker]="picker2"
                [min]="minDate2" [max]="maxDate2">
                <div class="input-group-append">
                  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </div>
            </div>
          </div>
          <!-- <div class="col-4">
            <div class="form-group">
              <label>Fecha de comienzo</label>
              <input formControlName="creationDate"
                name="price"
                type="number"
                class="form-control"
                placeholder="Fecha de comienzo"
                required>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Fecha de finalización</label>
              <input formControlName="endDate"
                name="price"
                type="number"
                class="form-control"
                placeholder="Fecha de finalizacion"
                required>
            </div>
          </div> -->
          
        <div class="col-12">
          <div class="form-group">
              <label>Descripción</label>
              <textarea id="description" formControlName="description" name="description" rows="4" cols="50" class="form-control" placeholder="Descripción de la tarea"></textarea>
              
            </div>
        </div>
      </div>

      <div class="col-12 form-group">
        <label for="file">Elegir imagenes</label>
        <input #myInputTaskImages type="file" accept="image/*" #uploader2 (change)="uploadtaskImage($event)">
        
        <div *ngIf="taskImages.length > 0">
          
          <div class="row">
            <div class="col-sm-3" *ngFor="let k of taskImages | keys; let i = index">
              <div class="card">
                <img class="card-img-top" style="max-height: 100px;" src="{{taskImages[k].url}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModalCenter" (click)="setImageToShow(taskImages[k])">
                <button (click)="eliminarTaskImage(k)" type="button" class="btn btn-outline-secondary btn-sm">Eliminar
                </button>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      

      <div class="col-2">
        <div class="form-group">
          <br>
          <button [disabled]="editForm.invalid" type="submit" class="btn btn-outline-primary form-control">
            {{buttonDone}} 
          </button>
        </div>
      </div>
      
  </div>
</form>

<div class="col-12 form-group" *ngIf="usuariosView">
  <div class="input-group mb-3 cuerpo">
    <input type="text" class="form-control" placeholder="Buscar Usarios" aria-label="Buscar Usarios" aria-describedby="basic-addon2"
    (input)="onSearchSetUser($event.target.value)"
    >
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </span>
    </div>
    <div class="dropdown-menu dropdown" [ngClass]="{'show': this.usuariosSearch != undefined}">
      <a class="dropdown-item" *ngFor="let k of this.usuariosSearch | keys; let i = index" (click)="selectUser(k)">
        {{this.usuariosSearch[k].name}}
      </a>
    </div>
  </div>
  <div class="list-group" *ngIf="this.usuariosRelated != undefined">
    <a *ngFor="let k of usuariosRelated | keys; let i = index" class="list-group-item flex-column align-items-start list-group-item-action" 
    style="cursor: pointer;">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <h5 class="mb-1" style="margin-right: 2%;">{{usuariosRelated[k].nickname}}</h5>
        <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
          <button type="button" 
              class="btn btn-secondary btn-sm animated fadeIn " 
              (click)="deleteUser(k)">Eliminar
          </button>
      </div>
      </div>
      
    </a>
  </div>
</div>

