<div class="">
    <button type="button" *ngIf="!creatingProduct && !editingProduct && !detailsProduct" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState(true, false, false)">{{buttonNewUser}}</button>
    <button type="button" *ngIf="creatingProduct || editingProduct || detailsProduct" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState(false, false, false)">
        <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
          </svg>
    </button>
    <div class="tab-pane fade show active animated fadeIn" id="nav-clientes" role="tabpanel" aria-labelledby="nav-home-tab" >
        <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm animated fadeIn" cellspacing="0" width="100%" *ngIf="!creatingProduct && !editingProduct">
            <thead>
                <tr>
                    <th class="th-sm">Nombre
                
                    </th>
                    <th class="th-sm">Opciones
                
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let k of productos | keys; let i = index">
                    <td>{{productos[k].name}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="badge badge-light" (click)="editProduct(productos[k].id)">Editar</button>
                            <button type="button" class="badge badge-light" (click)="deleteProduct(productos[k].id)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table> -->
        <div class="list-group" *ngIf="!creatingProduct && !editingProduct && !detailsProduct">
            <a *ngFor="let k of productos | keys; let i = index" class="list-group-item flex-column align-items-start list-group-item-action"
            style="cursor: pointer;"
            (click)="goToDetailsProduct(productos[k].id)">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <h5 class="mb-1" style="margin-right: 2%;">{{productos[k].name}}</h5>
    
                    <!-- <p class="mb-1">{{proyectos[k].product?.name}}</p> -->
    
                    <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
                        <button type="button" 
                            class="btn btn-secondary btn-sm animated fadeIn " 
                            (click)="editProduct(productos[k].id)">Editar
                        </button>
                        <button type="button" 
                            class="btn btn-secondary btn-sm animated fadeIn " 
                            (click)="deleteProduct(productos[k].id)">Eliminar
                        </button>
                    </div>
                </div>
            </a>
          </div>
        <app-new-product *ngIf="creatingProduct" (goBack)="loadState(false,false)"></app-new-product>
        <app-new-product *ngIf="editingProduct" [id]="productId" (goBack)="loadState(false,false)"></app-new-product>
        <app-producto *ngIf="detailsProduct" [id]="productId"></app-producto>
    </div>
</div>