<div class="container ">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-dark active" id="nav-home-tab" data-toggle="tab" href="#nav-clientes" role="tab" aria-controls="nav-home" aria-selected="true" (click)="loadState('clientes')">Clientes</a>
            <a class="nav-item nav-link text-dark" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" (click)="loadState('trabajadores')">Trabajadores</a>
            <a class="nav-item nav-link text-dark" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" (click)="loadState('responsables')">Responsables</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active animated fadeIn" id="nav-clientes" role="tabpanel" aria-labelledby="nav-home-tab">
            
            <!-- <button type="button" *ngIf="!creatingClient" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState('creatingClient')">{{buttonNewUser}}</button> -->
            <button type="button" *ngIf="creatingClient" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState(state)">
                <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  </svg>
            </button> 
            <app-table-users *ngIf="clientes" [type]="1" [buttonNewUser]="buttonNewUser"></app-table-users>
            <app-newUser *ngIf="creatingClient" [type]=1></app-newUser>
        </div>
        <div class="tab-pane fade animated fadeIn" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <button type="button" *ngIf="!creatingEmployee" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState('creatingEmployee')">{{buttonNewUser}}</button>
            <button type="button" *ngIf="creatingEmployee" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState(state)">
                <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  </svg>
            </button>
            <app-table-users *ngIf="trabajadores" [type]="2" [buttonNewUser]="buttonNewUser"></app-table-users>
            <app-newUser *ngIf="creatingEmployee" [type]=2></app-newUser>
        </div>
        <div class="tab-pane fade animated fadeIn" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <button type="button" *ngIf="!creatingManager" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState('creatingManager')">{{buttonNewUser}}</button>
            <button type="button" *ngIf="creatingManager" style="margin-top: 2%; margin-bottom: 2%;" class="btn btn-secondary btn-sm animated fadeIn" (click)="loadState(state)">
                <svg class="bi bi-arrow-left-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 010 .708L5.207 8l2.647 2.646a.5.5 0 01-.708.708l-3-3a.5.5 0 010-.708l3-3a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 01.5-.5h6.5a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                  </svg>
            </button>
            <app-table-users *ngIf="responsables"[type]="3" [buttonNewUser]="buttonNewUser"></app-table-users>
            <app-newUser *ngIf="creatingManager" [type]=3></app-newUser>
        </div>
    </div>
</div>
