<div class="container-fluid animated fadeIn ">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action active" id="list-users-list" data-toggle="list" href="#list-users" role="tab" aria-controls="Usuarios">Usuarios</a>
          <a class="list-group-item list-group-item-action" id="list-products-list" data-toggle="list" href="#list-products" role="tab" aria-controls="Contraseña">Productos</a>
          <a class="list-group-item list-group-item-action" id="list-projects-list" data-toggle="list" href="#list-projects" role="tab" aria-controls="projects">Proyectos</a>
          <a class="list-group-item list-group-item-action" id="list-tasks-list" data-toggle="list" href="#list-tasks" role="tab" aria-controls="tasks">Tareas</a>
        </div>
      </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 px-4 animated fadeIn" role="main">
      <div class="card ">
        <h4 class="card-header animated fadeIn"></h4>
        <div class="card-body">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-users" role="tabpanel" aria-labelledby="list-users-list">
              <app-admin-users></app-admin-users>
            </div>
            <div class="tab-pane fade" id="list-products" role="tabpanel" aria-labelledby="list-products-list">
              <app-admin-products></app-admin-products>
            </div>
            <div class="tab-pane fade" id="list-projects" role="tabpanel" aria-labelledby="list-projects-list">
              <app-admin-projects></app-admin-projects>
            </div>
            <div class="tab-pane fade" id="list-tasks" role="tabpanel" aria-labelledby="list-tasks-list">
              <app-admin-tasks></app-admin-tasks>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>