<form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
  <div class="container main-container">
    <h4>{{header}} </h4>
      <div class="row animated fadeIn">
          <div class="col-4 ">
            <div class="form-group">
              <label>Nombre</label>
              <input  formControlName="name"
                name="nombre"
                type="text"
                class="form-control"
                placeholder="Nombre del producto"
                required>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label>Precio</label>
              <input formControlName="price"
                name="price"
                type="number"
                class="form-control"
                placeholder="Precio del producto"
                required>
            </div>
          </div>
          <div class="col-2"> </div>
          <div class="col-2">
            <div class="form-group">
              <br>
              <button [disabled]="editForm.invalid" type="submit" class="btn btn-outline-primary form-control">
                {{buttonDone}} 
              </button>
            </div>
          </div>
        <div class="col-12">
          <div class="form-group">
              <label>Descripción</label>
              <textarea id="description" formControlName="description" name="description" rows="4" cols="50" class="form-control" placeholder="Descripción del producto"></textarea>
              
            </div>
        </div>
        <div class="col-12">
          <div class="form-group">
              <label>Caracteristicas</label>
              <textarea id="description" formControlName="features" name="features" rows="4" cols="50" class="form-control" placeholder="Caracteristicas del producto"></textarea>
              
            </div>
        </div>
      </div>
      <div class="media container animated fadeIn">
        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <label class="btn btn-light" (click)="onClickMe(1)">
                <input type="radio" name="options" id="option1"> Miniatura
            </label>
            <label class="btn btn-light" (click)="onClickMe(2)">
                <input type="radio" name="options" id="option2">  Imagenes
            </label>
            <label class="btn btn-light" (click)="onClickMe(3)">
                <input type="radio" name="options" id="option3">  Fichero
            </label>
            <label class="btn btn-light" (click)="onClickMe(4)">
              <input type="radio" name="options" id="option4">  Manuales
          </label>
          </div>
      </div>

      <div class="media container animated fadeIn cuerpo">
        <div class="col-12 form-group" *ngIf="miniatura">

          <input #myInputMiniatura type="file" hidden  accept="image/*" #uploader (change)="uploadMiniatura($event)" />
          <button type="button" style="border-radius: 28px;" class="commonButton" (click)="uploader.click()">
            
            Adjuntar miniatura
            <i class="fa fa-image"></i>
          </button>

          <div *ngIf="profileImage != undefined">
            <div style="margin-bottom: 8% ">
              <div class="card mb-3 cuerpo" style="max-width: 300px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{profileImage.url}}" class="card-img" height="100">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <!-- <h5 class="mt-0 mb-1">{{profileImage.name}}</h5> -->
                      <button (click)="eliminarMiniatura()" type="button" class="btn btn-outline-secondary btn-sm">Eliminar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
       
        <div class="col-12 form-group" *ngIf="principal">

          <input #myInputMainImages type="file" hidden  accept="image/*" #uploader2 (change)="uploadMainFile($event)" />
          <button type="button" style="border-radius: 28px;" class="commonButton" (click)="uploader2.click()">
            
            Adjuntar imagen principal
            <i class="fa fa-image"></i>
          </button>

          <div *ngIf="mainImages.length > 0">

            <div *ngFor="let k of mainImages | keys; let i = index" style="margin-bottom: 8%">
              <div class="card mb-3 cuerpo" style="max-width: 300px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="{{mainImages[k].url}}" class="card-img" height="100">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <!-- <h5 class="mt-0 mb-1">{{mainImages[k].name}}</h5> -->
                      <button (click)="eliminarMainPicture(k)" type="button" class="btn btn-outline-secondary btn-sm">Eliminar
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
          
        </div>

        <div class="col-12 form-group" *ngIf="descarga">
          <label for="file">Choose File</label>
          <input #myInputFile type="file" id="file" (change)="handleFileInput($event.target.files)">

          <div *ngIf="fileToUpload != undefined" style="margin-bottom: 8%">
            <div class="card mb-3" style="max-width: 300px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../../../assets\img\101671.png" class="card-img" height="100">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="mt-0 mb-1">{{fileToUpload.name}}</h5>
                    <button (click)="eliminarDescarga()" type="button" class="btn btn-outline-secondary btn-sm">Eliminar
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="col-6 form-group" *ngIf="manuals">
          <label for="file">Elegir manuales</label>
          <input #myInputManuales type="file" id="file" accept="application/pdf" (change)="handleManuals($event.target.files)">
          <div *ngIf="manuales.length > 0">

            <div *ngFor="let k of manuales | keys; let i = index" style="margin-bottom: 8%">
              <div class="card mb-3" style="max-width: 300px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../../../assets/img/PDF_file_icon.svg.png" class="card-img" height="100">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="mt-0 mb-1">{{manuales[k].name}}</h5>
                      <button (click)="eliminarManual(k)" type="button" class="btn btn-outline-secondary btn-sm">Eliminar
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
      
  </div>
</form>
