<div class="media  animated fadeIn">
  <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
      <label class="btn btn-light" (click)="onClickMe(1)">
          <input type="radio" name="options" id="option1"> Proyecto
      </label>
      <label class="btn btn-light" (click)="onClickMe(3)">
        <input type="radio" name="options" id="option3"> Usuarios
    </label>
      <label class="btn btn-light" (click)="onClickMe(2)" *ngIf="edit">
          <input type="radio" name="options" id="option2">  Tareas
      </label>
    </div>
</div>

<div class="media  animated fadeIn ">
  <div class="col-12 form-group" *ngIf="proyectoView">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <div class=" main-container">
        <h4>{{header}}</h4>
          <div class="row animated fadeIn">
            <div class="col-4 ">
              <div class="form-group">
                <label>Nombre</label>
                <input  formControlName="name"
                  name="nombre"
                  type="text"
                  class="form-control"
                  placeholder="Nombre del proyecto"
                  required>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Prioridad</label>
                <select class="custom-select" formControlName="prioridad" required>
                  <option *ngFor="let priority of priorities"
                          [value]="priority">
                          {{PriorityLabelMapping[priority]}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Producto</label>
                <select class="custom-select" formControlName="producto" (change)="changeProducto($event.target.value)">
                  <option [ngValue]="null" disabled>Choose your Product</option>
                  <option *ngFor="let producto of products" [ngValue]="producto.id">
                    {{ producto.name }}
                  </option>
                </select>
              </div>
            </div>
              
            <div class="col-12">
              <div class="form-group">
                <label>Descripción</label>
                <textarea id="description" formControlName="description" name="description" rows="4" cols="50" class="form-control" placeholder="Descripción del proyecto"></textarea>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <br>
                <button [disabled]="editForm.invalid" type="submit" class="btn btn-outline-primary form-control">
                  {{buttonDone}}  
                </button>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>

  <div class="col-12 form-group" *ngIf="usuariosView">
    <div class="input-group mb-3 cuerpo">
      <input type="text" class="form-control" placeholder="Buscar Usarios" aria-label="Buscar Usarios" aria-describedby="basic-addon2"
      (input)="onSearchSetUser($event.target.value)"
      (focusout)="cleanUserSearch()">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
      </div>
      <div class="dropdown-menu dropdown" [ngClass]="{'show': this.usuariosSearch != undefined}">
        <a class="dropdown-item" *ngFor="let k of this.usuariosSearch | keys; let i = index" (click)="selectUser(k)">
          {{this.usuariosSearch[k].nickname}}
        </a>
      </div>
    </div>
    <div class="list-group" *ngIf="this.usuariosRelated != undefined">
      <a *ngFor="let k of usuariosRelated | keys; let i = index" class="list-group-item flex-column align-items-start list-group-item-action" 
      style="cursor: pointer;">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <h5 class="mb-1" style="margin-right: 2%;">{{usuariosRelated[k].nickname}}</h5>
          <div class="btn-group ml-auto p-2" role="group" aria-label="Basic example">
            <button type="button" 
                class="btn btn-secondary btn-sm animated fadeIn " 
                (click)="deleteUser(k)">Eliminar
            </button>
        </div>
        </div>
        
      </a>
    </div>
  </div>

  <div class="col-12 form-group" *ngIf="tareasView">
    <app-admin-tasks [createAllowed]="true" [projectId]="id"></app-admin-tasks>
  </div>
</div>


