<div class="container animated fadeIn">
    <br>
    <br>
    <h3>Titulo</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae enim quis nunc maximus vulputate. Aenean lacinia quam ut ultricies egestas. Nulla sed lorem eget ante tempus interdum non malesuada nisi. Sed sollicitudin ante a dui mollis, ac congue orci tincidunt. 
        Praesent consequat facilisis ipsum, vel volutpat lorem posuere vitae. Aenean justo ex, feugiat nec quam vel, volutpat suscipit magna. Suspendisse pretium ante orci, nec vulputate orci maximus vitae. 
        Curabitur fringilla non justo et dignissim. In dolor est, tempus et mattis ac, consequat id justo. Nullam ac arcu sit amet metus luctus euismod id non massa. 
        Maecenas vitae ex tristique, imperdiet urna at, maximus ligula. Duis volutpat mi at ligula mattis, sit amet sollicitudin ante consectetur.</p>
</div>
<br>
<br>
<app-carousel></app-carousel>
<br>
<br>
<app-tarjetas></app-tarjetas>


