<div class="col-12 cuerpo" *ngIf="!logeado">
  <h6>Identificate para comprar el producto y comentar</h6>
</div>
<div class="col-12 cuerpo" *ngIf="logeado && !comprado">
  <h6>Compra el producto para poder comentar</h6>
</div>
<div class="col-12 cuerpo" *ngIf="comprado">
  <form name="commentForm" role="form" novalidate (ngSubmit)="writeComment()" [formGroup]="commentForm">
    <div class="col-12">
      <div class="">
        <textarea id="text" formControlName="text" name="text" rows="4" cols="50" class="form-control" placeholder="Escribe un comentario..." required></textarea>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <br>
        <button [disabled]="commentForm.invalid" type="submit" class="btn btn-outline-primary form-control">
          Enviar
        </button>
      </div>
    </div>
  </form>
</div>
<div class="col-12 fadeIn cuerpo" *ngIf="product.comments.length != 0">
  <h6 class="border-bottom border-gray pb-2 mb-0">Comentarios</h6>
  <div class="media text-muted pt-3 fadeIn" *ngFor="let comment of product.comments | orderByy: 'id' ">
    <app-profile-picture [imagePatch]="comment.creator?.profilePicture"></app-profile-picture>
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@{{comment.creator?.nickname}}</strong>
      {{comment.text}}
    </p>
  </div>
</div>