<div class="container">
  <div class="col-12 animated fadeIn">
    <ul class="list-unstyled ">
      <div *ngFor="let k of productos | keys; let i = index" class="cuerpo">
          <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{productos[k].profileImage?.url}}" style='object-fit: contain' class="card-img" height="145">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="mt-0 mb-1">{{ productos[k].name}}</h5>
                      <p>{{ productos[k].sortDescription }}</p>
                      <button (click)="verproducto(productos[k].id)" type="button" class="btn btn-outline-secondary btn-sm">Más información
                      </button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </ul>
  </div>
</div>






