<div class="container">
  <div class="col-12 animated fadeIn">
    <ul class="list-unstyled ">
      <div *ngFor="let k of productos | keys; let i = index" class="cuerpo">
          <div class="card mb-3">
              <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{productos[k].profileImage?.url}}" style='object-fit: contain' class="card-img" height="145">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                      <h5 class="mt-0 mb-1">{{ productos[k].name}}</h5>
                      <p>{{ productos[k].sortDescription }}</p>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="verproducto(productos[k].id)" type="button" class="btn btn-outline-info btn-sm">
                          Ir al producto
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                          </svg>
                        </button>
                        <button *ngIf="this.usuario != undefined && this.usuario != null && !checkIfBought(productos[k].id)" (click)="addProduct(productos[k])" type="button" class="btn btn-outline-secondary btn-sm" [disabled]="!productos[k].forSale">
                          Añadir a la cesta
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg>
                        </button>
                        <button *ngIf="checkIfBought(productos[k].id)" class="btn btn-outline-success" disabled>
                          Comprado
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                            <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                          </svg>
                        </button>
                      </div>
                      
                  </div>
                </div>
              </div>
            </div>
      </div>
    </ul>
  </div>
</div>






