<div *ngIf="productFound">
    <div class="media container animated fadeIn">
        <div class="col-12" >
            <h1>{{producto.name}}</h1>
        </div>
    </div>
    <div class="media container animated fadeIn cuerpo">
        <div class="col-4">
            <img src="{{producto.profileImage.url}}" class="card-img" height="145">
        </div>
        <div class="col-8">{{producto.description}}</div>
    </div>
    
    <div class="media container animated fadeIn">
        <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <label class="btn btn-light" (click)="onClickMe(1)" routerLinkActive = "active">
                <input type="radio" name="options" id="option1"> Caracteristicas
            </label>
            <label class="btn btn-light" (click)="onClickMe(2)">
                <input type="radio" name="options" id="option2">  Manuales
            </label>
            <label class="btn btn-light" (click)="onClickMe(3)">
                <input type="radio" name="options" id="option3">  Descarga
            </label>
        </div>
    </div>
    
    <div class="media container animated fadeIn">
        <app-features *ngIf="features"></app-features>
        <app-manuals *ngIf="manuals"></app-manuals>
        <app-download *ngIf="descarga"></app-download>
    </div>
</div>




