<div *ngIf="productFound">
  <div class="col-12">
    <div class="media animated fadeIn" [ngClass]="{'container': vistaTrabajador == false}">
      <div class="col-12" >
          <h1>{{producto.name}}</h1>
      </div>
    </div>

    <div class="media animated fadeIn cuerpo" [ngClass]="{'container': vistaTrabajador == false}">
      <div class="col-4">
          <img src="{{producto.profileImage?.url}}" style='height: 100%; width: 100%; object-fit: contain' class="card-img" height="75">
      </div>
      <div class="col-8">
        <div class="col-12">
          <label for="">Valoración del producto</label>
          <mat-slider min="0" max="5" step="0.5" [(value)]="rate" [disabled]="true">
            <input matSliderThumb>
          </mat-slider>
          {{rate}}/5
        </div>
        <div class="col-12">
          <p>
            {{producto.description}}
          </p>
        </div>
      </div>
    </div>
    <div [ngClass]="{'container': vistaTrabajador == false}" *ngIf="mainImages != null && mainImages != undefined && mainImages.length > 0">
      <div class="animated fadeIn cuerpo">
          <div id="carouselExampleFade" class="carousel slide carousel-fade animated fadeIn" data-ride="carousel">
            <div class="carousel-inner">
              
              <div class="carousel-item active">
                <div class="view">
                  <img class="d-block w-100 animated fadeIn" src="{{mainImage.url}}" alt="First slide" height="400" style='object-fit: contain'>
                  <div class="mask rgba-black-light"></div>
                </div>
              </div>
              <div class="carousel-item" *ngFor="let k of mainImages | keys; let i = index">
                  <img class="d-block w-100 animated fadeIn" src="{{mainImages[k].url}}" alt="{{mainImages[k].url}}" height="400" style='object-fit: contain'>
              </div>
            </div>
            
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div> 
      </div>
    </div>
    <div [ngClass]="{'container': vistaTrabajador == false}" class="cuerpo">
      <h3>Características</h3>
      <p>
        {{producto.features}}
      </p>
    </div>

    <div class="media animated fadeIn cuerpo" [ngClass]="{'container': vistaTrabajador == false}" *ngIf="!vistaTrabajador">
      <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
          <label class="btn btn-info" (click)="onClickMe(1)" routerLinkActive = "active">
              <input type="radio" name="options" id="option1"> Comentarios
          </label>
          <label class="btn btn-info" (click)="onClickMe(2)">
              <input type="radio" name="options" id="option2">  Manuales
          </label>
          <label class="btn btn-info" (click)="onClickMe(3)">
              <input type="radio" name="options" id="option3">  Descarga
          </label>
          <label class="btn btn-info" (click)="onClickMe(4)">
            <input type="radio" name="options" id="option4">  Noticias Relacionadas
        </label>
      </div>
    </div>
    
    <div class="media animated fadeIn" [ngClass]="{'container': vistaTrabajador == false}" *ngIf="!vistaTrabajador">
      <app-features *ngIf="features" [product]="producto"></app-features>
      <app-manuals *ngIf="manuals" [manuals]="producto.manuals"></app-manuals>
      <app-download *ngIf="descarga" [id]="producto.id" [product]="producto" (updateProductRate)="updateProductRate()"></app-download>
      <app-tarjetas *ngIf="noticias" [id]="producto.id"></app-tarjetas>
    </div>
  </div>

</div>




