/* You can add global styles to this file, and also import other style files */

footer {
    color:white;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.puntero{
  cursor: pointer;
}

.main-container{
    margin-top: 50px;
    margin-bottom: 150px;
}
.center-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container-c {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
}

.container-cc {
  margin-top: 3%;
  margin-bottom: 6%;
  margin-left: 2%;
  margin-right: 2%;
}

.chat-window{
  padding: 10px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid #4080FF;
  border-radius: 20px;
}

.app-mensajes{
  overflow-y:scroll;
  height:270px;
  /*background:gray;*/
  padding: 5px;
}

.alerta {
  color:white;
  position: fixed !important;
  z-index:9999; 
  width: 100%;
}

.cuerpo{
  margin-top: 2%;
  margin-bottom: 2%;
}

.rounded-circle {
  border-radius: 50%!important;
}


/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }


  */

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
