<div [ngClass]="{'container': this.id == undefined || this.id == null}"  *ngIf="noticias != undefined && noticias != null && noticias.length > 0">
  <div class="card container-cc animated fadeIn shadow-sm p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h1>Noticias</h1>
      <div class="card-deck">
        <div class="card" *ngFor="let k of noticias | keys; let i = index">
          <img src="{{ noticias[k].cardImage}}" style='object-fit: contain' height="145" class="card-img-top rounded-lg" >
          <div class="card-body">
            <h4 class="card-title">{{ noticias[k].title }}</h4>
            <h6 class="card-description">{{ noticias[k].sortDescription }}</h6>
            <button (click)="verNoticia(noticias[k].id)"
                      type="button" class="btn btn-outline-info">
                Ver noticia
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

