<div class="media animated fadeIn">
  <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
      <label class="btn btn-light" (click)="onClickMe(1)">
          <input type="radio" name="options" id="option1"> Tarea
      </label>
      <label class="btn btn-light" (click)="onClickMe(2)">
          <input type="radio" name="options" id="option2"> Usuarios
      </label>
  </div>
</div>

<div class="media animated fadeIn cuerpo" *ngIf="task != undefined && tareaView">
  <div class="col-9">
    <div class="col-12">
      <div class="col-8">
        <h1>{{task.name}}</h1>
        <h5>Proyecto: {{task.project?.name}}</h5>
      </div>
      <div class="col-4">
        {{diasRestantes}}
      </div>
    </div>
    <div class="col-12">
      <p>
        {{task.description}}
      </p>
    </div>
    <div class="col-12 cuerpo">
      <div *ngIf="task.images.length > 0">
          
        <div class="row">
          <div class="col-sm-3" *ngFor="let k of task.images | keys; let i = index">
            <div class="card">
              <img class="card-img-top" style="max-height: 100px;" src="{{task.images[k].url}}" alt="Card image cap" data-toggle="modal" data-target="#exampleModalCenter" (click)="setImageToShow(task.images[k])">
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="col-12">
      <form name="commentForm" role="form" novalidate (ngSubmit)="writeComment()" [formGroup]="commentForm">
        <div class="col-12">
          <div class="">
            <textarea id="text" formControlName="text" name="text" rows="4" cols="50" class="form-control" placeholder="Escribe un comentario..."  required></textarea>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <br>
            <button [disabled]="commentForm.invalid || !canModify" type="submit" class="btn btn-outline-primary form-control">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow fadeIn" *ngIf="task.comments.length != 0">
      <h6 class="border-bottom border-gray pb-2 mb-0">Comentarios</h6>
      <div class="media text-muted pt-3 fadeIn" *ngFor="let comment of task.comments | orderByy: 'id' ">
        <app-profile-picture [imagePatch]="comment.creator?.profilePicture"></app-profile-picture>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{comment.creator?.nickname}}</strong>
          {{comment.text}}
        </p>
      </div>
    </div>
    
  </div>
  <div class="col-3">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Creador: {{task.creator?.nickname}}</h5>
        <p class="card-text">{{task.creator?.name}} {{task.creator?.firstLastName}} {{task.creator?.secondLastName}}</p>
      </div>
    </div>
    <div class="card" >
      <form name="editForm" role="form" novalidate (ngSubmit)="updateStatePriority()" [formGroup]="editForm">
        <div class="container main-container">
          <h4>{{header}} </h4>
            <div class="row animated fadeIn">
                <div class="col-12">
                  <div class="form-group">
                    <label>Estado</label>
                    <select class="custom-select" formControlName="state"  required>
                      <option *ngFor="let state of states"
                              [value]="state">
                              {{StateLabelMapping[state]}}
                      </option>
                    </select>
                  </div>
                </div>
            </div>

            <div class="row animated fadeIn">
              <div class="col-12">
                <div class="form-group">
                  <label>Prioridad</label>
                  <select class="custom-select" formControlName="prioridad"  required>
                    <option *ngFor="let priority of priorities"
                            [value]="priority">
                            {{PriorityLabelMapping[priority]}}
                    </option>
                  </select>
                </div>
              </div>
          </div>
              
            <div class="col-12">
              <div class="form-group">
                <br>
                <button [disabled]="editForm.invalid || !canModify" type="submit" class="btn btn-outline-primary form-control">
                  Guardar
                </button>
              </div>
            </div>
            
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-12 form-group cuerpo" *ngIf="usuariosView">
  <div class="list-group" *ngIf="this.task.assignedUsers != undefined">
    <a *ngFor="let k of task.assignedUsers | keys; let i = index" class="list-group-item flex-column align-items-start list-group-item-action" 
    style="cursor: pointer;">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <app-profile-picture [imagePatch]="task.assignedUsers[k].profilePicture"></app-profile-picture>
        <h5 class="mb-1" style="margin-right: 2%;">{{task.assignedUsers[k].nickname}}</h5>
        <p class="mb-1"> {{task.assignedUsers[k].name}} {{task.assignedUsers[k].firstLastName}} {{task.assignedUsers[k].secondLastName}} ({{task.assignedUsers[k].email}})</p>
      </div>
    </a>
  </div>
</div>
